@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@600;700&family=Roboto:wght@700&display=swap");

.first-header {
  margin: 10px;
  width: 1330px;
  height: 619px;
  background: linear-gradient(
      0deg,
      rgba(23, 16, 16, 0.6),
      rgba(23, 16, 16, 0.6)
    ),
    url("../../assets/background1.png") no-repeat;
}

.header-elements {
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 90px;
}

.header-title {
  left: 44.08%;
  right: 44.08%;
  top: 20%;
  bottom: 88.96%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.1px;
}

.header-desc {
  left: 3.28%;
  right: 3.28%;
  top: 5.56%;
  bottom: 5.56%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.2px;
}

.header-inst {
  left: 12.23%;
  right: 12.09%;
  top: 10.42%;
  bottom: 50%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.2px;
}

.app-preview {
  justify-content: center;
  display: flex;
  position: relative;
  top: 50px;
  left: -70px;
}

.header-btns {
  position: relative;
  top: 150px;
  display: flex;
  justify-content: center;
}

.btn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #ffffff;
  align-items: center;
}

.play-store {
  padding: 16px 0px;
  width: 236px;
  height: 68px;
  background: #fa4a0c;
  box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
  border-radius: 30px;
  margin-right: 10px;
}

.app-store {
  padding: 16px 0px;
  width: 236px;
  height: 68px;
  box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
  border-radius: 30px;
  border: 1px solid #ffffff;
}

.dash {
  display: flex;
  justify-content: center;
}

.dash img {
  position: relative;
  width: 800px;
  top: 0;
}

.app-functn {
  position: relative;
  display: flex;
  justify-content: center;
  top: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #000000;
  opacity: 0.8;
}

/* Extra-large screens */
@media only screen and (min-width: 1201px) {
  .first-header {
    margin: 5px;
    width: 1255px;
    height: 619px;
  }
}

@media only screen and (min-width: 939px) and (max-width: 1200px) {
  .first-header {
    width: 1024px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .first-header {
    margin: 10px;
    width: 100%;
    height: 619px;
  }

  br {
    display: none;
  }

  .header-elements {
    top: 50px;
  }

  .header-desc {
    margin-top: 20px;
    font-size: 65px;
  }

  .header-inst {
    margin-top: 30px;
    font-size: 46px;
    line-height: 60px;
  }

  .header-btns {
    top: 70px;
  }

  .app-preview {
    top: -70px;
    left: 0;
  }

  .app-preview img {
    width: 120%;
    position: relative;
    left: -30px;
  }

  .app-functn {
    top: -120px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  br {
    display: none;
  }

  .first-header {
    margin: 0;
    width: 100%;
    height: 778px;
    background: #fafafa;
  }

  .header-title {
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.1px;
    color: #737373;
  }

  .header-desc {
    text-align: center;
    letter-spacing: 0.2px;
    font-size: 33px;
    line-height: 42px;
    color: #252b42;
  }

  .header-inst {
    text-align: center;
    font-size: 24px;
    letter-spacing: 0.2px;
    color: #737373;
  }

  .header-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .play-store.btn {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .app-store.btn {
    font-size: 24px;
    border: 2px solid #fa4a0c;
    color: #fa4a0c;
  }

  .app-preview {
    top: 50px;
    left: -35px;
  }

  .app-preview img {
    top: 50px;
    width: 100%;
    position: relative;
  }

  .app-functn {
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
  }

  .dash {
    position: relative;
    top: 120px;
  }

  .dash img {
    position: relative;
    width: 375px;
    top: 0;
    border: 2px solid #e4e4e4;
  }
}
